<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <input type="hidden" name="row[income]" value="{$row.income|htmlentities}">
    <input type="hidden" name="row[settlement_no]" value="{$row.settlement_no|htmlentities}">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3">{:__('Jl_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-jl_price" data-rule="required" class="form-control" step="0.0001" name="row[jl_price]" type="number" value="{$row.jl_price|htmlentities}">
        </div>
    </div>
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('Jl_num')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-jl_num" data-rule="required" class="form-control" name="row[jl_num]" type="number" value="{$row.jl_num|htmlentities}">-->
<!--        </div>-->
<!--    </div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3">{:__('Jl_more_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-jl_more_price" data-rule="required" class="form-control" step="0.0001" name="row[jl_more_price]" type="number" value="{$row.jl_more_price|htmlentities}">
        </div>
    </div>
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('Jl_more_num')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-jl_more_num" data-rule="required" class="form-control" name="row[jl_more_num]" type="number" value="{$row.jl_more_num|htmlentities}">-->
<!--        </div>-->
<!--    </div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3">{:__('Kp_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-kp_money" data-rule="required" class="form-control" step="0.01" name="row[kp_money]" type="number" value="{$row.kp_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3">{:__('Xx_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-xx_money" data-rule="required" class="form-control" step="0.01" name="row[xx_money]" type="number" value="{$row.xx_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3">{:__('Banner_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-banner_money" data-rule="required" class="form-control" step="0.01" name="row[banner_money]" type="number" value="{$row.banner_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3">{:__('Cp_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cp_money" data-rule="required" class="form-control" step="0.01" name="row[cp_money]" type="number" value="{$row.cp_money|htmlentities}">
        </div>
    </div>
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('Jl_money')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-jl_money" data-rule="required" class="form-control" step="0.01" name="row[jl_money]" type="number" value="{$row.jl_money|htmlentities}">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('Jl_more_money')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-jl_more_money" data-rule="required" class="form-control" step="0.01" name="row[jl_more_money]" type="number" value="{$row.jl_more_money|htmlentities}">-->
<!--        </div>-->
<!--    </div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3">{:__('Settlement_yes')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-settlement_yes" data-rule="required" class="form-control" step="0.01" name="row[settlement_yes]" type="number" value="{$row.settlement_yes|htmlentities}">
        </div>
    </div>
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-3">{:__('Settlement_no')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-settlement_no" data-rule="required" class="form-control" step="0.01" name="row[settlement_no]" type="number" value="{$row.settlement_no|htmlentities}">-->
<!--        </div>-->
<!--    </div>-->

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
