<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Unique_random')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-unique_random" data-rule="required" class="form-control" name="row[unique_random]" type="text" value="{$row.unique_random|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Year')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-year" data-rule="required" class="form-control" name="row[year]" type="number" value="{$row.year|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Month')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-month" data-rule="required" class="form-control" name="row[month]" type="number" value="{$row.month|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Day')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-day" data-rule="required" class="form-control" name="row[day]" type="number" value="{$row.day|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Income')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-income" data-rule="required" class="form-control" step="0.01" name="row[income]" type="number" value="{$row.income|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Jl_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-jl_price" data-rule="required" class="form-control" step="0.0001" name="row[jl_price]" type="number" value="{$row.jl_price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Jl_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-jl_num" data-rule="required" class="form-control" name="row[jl_num]" type="number" value="{$row.jl_num|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Jl_more_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-jl_more_price" data-rule="required" class="form-control" step="0.0001" name="row[jl_more_price]" type="number" value="{$row.jl_more_price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Jl_more_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-jl_more_num" data-rule="required" class="form-control" name="row[jl_more_num]" type="number" value="{$row.jl_more_num|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kp_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-kp_money" data-rule="required" class="form-control" step="0.01" name="row[kp_money]" type="number" value="{$row.kp_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Xx_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-xx_money" data-rule="required" class="form-control" step="0.01" name="row[xx_money]" type="number" value="{$row.xx_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Banner_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-banner_money" data-rule="required" class="form-control" step="0.01" name="row[banner_money]" type="number" value="{$row.banner_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cp_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cp_money" data-rule="required" class="form-control" step="0.01" name="row[cp_money]" type="number" value="{$row.cp_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Jl_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-jl_money" data-rule="required" class="form-control" step="0.01" name="row[jl_money]" type="number" value="{$row.jl_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Jl_more_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-jl_more_money" data-rule="required" class="form-control" step="0.01" name="row[jl_more_money]" type="number" value="{$row.jl_more_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Settlement_yes')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-settlement_yes" data-rule="required" class="form-control" step="0.01" name="row[settlement_yes]" type="number" value="{$row.settlement_yes|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Settlement_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-settlement_no" data-rule="required" class="form-control" step="0.01" name="row[settlement_no]" type="number" value="{$row.settlement_no|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Date_stamp')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-date_stamp" data-rule="required" class="form-control" name="row[date_stamp]" type="number" value="{$row.date_stamp|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
